.ui.button {
  background: #accfcf;
}
.sans {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
}
#centerer {
  display: table;
  margin: 0 auto;
}
#gbutton {
  height: 60px;
  width: 200px;
}
#ret {
  background: #d9b7b0;
}
